---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
    <div class="bg-black min-h-screen w-full" id="container"></div>
    <Footer />
</Layout>
