---

---

<!-- Here i used Tailwind, "bg-black" makes the element black, min-h-screen makes the element at least as tall as viewport, and w-full makes the element take all the width it can, text-white makes text white-->
<div class="bg-black min-h-screen w-full" id="container">
    <p
        class="text-white absolute left-1/2 transform -translate-x-1/2 top-20 text-2xl font-inter"
    >
        hi, I'm nel. I like coding.
    </p>
</div>
